@import "../../config/variables";

.footer {
	font-size:.8em;
	padding :2rem;
	background-color: $black;
	display:flex;
	justify-content:space-between;
	white-space:normal;
	align-items:center;
	text-align:center;
	color:white;
	 flex-direction:column;

 @include for-tablet-landscape-down {
   flex-direction:column;
  }


  hr {
  	background-color:$brand-primary;
  	width:100px;
  	margin-top:1em;
  }

   a {
 
  &:hover{
    color:$brand-primary;
    text-decoration:underline;
  }
 }
}

 

.socialMedia {
 
    a {
    	color:white;
    font-size: 1.5rem;
  }

  a:not(:first-child) {
    margin-left: 1rem;
  }
}


.socialMedia > span {
  margin-left: auto;
}


