@import "../../config/variables";
.wrapper {
 margin: 1em 0 3em 0;
}


.box{
 display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;

  a {
  	background-color:$brand-primary;
	color:white;
	border:1px solid $brand-primary;
  	padding:.5rem;
	&:hover, &:focus {
		background-color:$brand-third;
		color:white;
		border:1px solid $brand-secondary;
	  	padding:.5rem;
	  	transition:all .5s;
	}
  }
}

.previousLink {
	
  	margin-right: auto;
  	order: 1;
  	
}

.nextLink{
	margin-left: auto;
  	order: 2;
  		
}